In [1]:
assert 1+1==2

In [2]:
assert 1+1==3

AssertionError:

In [12]:
def cat_age(years, months):
    vek = 0
    if years == 2:
        vek += 18+7
    if years > 2:
        vek += (18+7+(years - 2)*5)+months*(5/12)
    if years == 0:
        vek += months*(18/12)
    if years == 1:
        vek += 18+months*(7/12)
    return vek

In [16]:
cat_age(1,0)

18.0

In [17]:
assert cat_age(1,0) == 18.0, 'Věk nesedí! {}'.format(cat_age(1,0))

In [19]:
def odecet (prvni, druhy):
    return prvni-druhy

In [20]:
odecet (8,9)

-1

In [21]:
odecet (druhy = 8, prvni = 9)

1

In [22]:
len??

In [66]:
text="""Řetězec: Byl jeden Řek a ten mi řek, abych mu řek, 
kolik je v Řecku řeckých řek a já mu řek, 
že nejsem Řek abych mu řek kolik je v Řecku řeckých řek."""

In [70]:
text="Barbucha"

In [71]:
def string_upper_lower(s):
    lower =len ([x for x in s if x.islower()])
    upper =len ([x for x in s if x.isupper()])   
    return (lower, upper)

In [72]:
string_upper_lower(text)

(7, 1)

In [62]:
def meal_voucher (stravenka,cena_obeda):
    print("Zaplaťte {} stravenkami.".format(cena_obeda//stravenka))
    print("Doplaťte hotově {} Kč.".format(cena_obeda-((cena_obeda//stravenka)*stravenka)))

In [63]:
meal_voucher (74,1000)

Zaplaťte 13 stravenkami.
Doplaťte hotově 38 Kč.

In [ ]:
len_seq=[]

In [141]:
def nucl_freq (seq,nuc):
        return(len(seq)/seq.count(nuc))

In [246]:
seq=("ACTTTTCTUUUUtjhiorngfklbnadfklTTHDNNNDTCGGCT")

In [247]:
seq.count("C")

4

In [248]:
len(seq)

44

In [249]:
nucl_freq("ACTTTTCTTCGGCkajvndfsvdfgndfnaTUUUUGTTTKF","A")

41.0

In [252]:
freqs={}
def all_nucl_freq(seq):
    for letter in seq:
        freqs[letter]=(len(seq)/seq.count(letter))
    return(freqs)

In [253]:
all_nucl_freq(seq)

{'A': 44.0,
 'C': 11.0,
 'D': 22.0,
 'G': 22.0,
 'H': 44.0,
 'N': 14.666666666666666,
 'T': 4.888888888888889,
 'U': 11.0,
 'a': 44.0,
 'b': 44.0,
 'd': 44.0,
 'f': 22.0,
 'g': 44.0,
 'h': 44.0,
 'i': 44.0,
 'j': 44.0,
 'k': 22.0,
 'l': 22.0,
 'n': 22.0,
 'o': 44.0,
 'r': 44.0,
 't': 44.0}

In [254]:
freqs

{'A': 44.0,
 'C': 11.0,
 'D': 22.0,
 'G': 22.0,
 'H': 44.0,
 'N': 14.666666666666666,
 'T': 4.888888888888889,
 'U': 11.0,
 'a': 44.0,
 'b': 44.0,
 'd': 44.0,
 'f': 22.0,
 'g': 44.0,
 'h': 44.0,
 'i': 44.0,
 'j': 44.0,
 'k': 22.0,
 'l': 22.0,
 'n': 22.0,
 'o': 44.0,
 'r': 44.0,
 't': 44.0}

In [245]:
for letter in seq:
    print (letter)

A
C
T
T
T
T
C
T
U
U
U
U
T
T
H
D
N
N
N
D
T
C
G
G
C
T